const reCaptchaSecret = "";
const emailAddress = "";
const emailPassword = "";
const resetPasswordURL = "http://localhost/resetPassword/";

module.exports = {
  reCaptchaSecret,
  emailAddress,
  emailPassword,
  resetPasswordURL
};